body {
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
}
[contenteditable] {
  display: inline-block;
}
[contenteditable]:empty:not(:focus):before{
  content: attr(data-placeholder);
  color: grey;
  font-style: italic;
}
a {
  color: #03a;
}